extends layout

block content
    h4 Please sign in as admin
    h5 Enter admin password
    p

    form
        .form-group
            label.col-form-label(for="operator-password") Password
            input.form-control(id="operator-password" type="password" autofocus required)

    p
    div(id="error-msg" class="alert alert-danger invisible") Error
    p
    button(type="button" class="btn btn-primary" id="button-auth") Authorize

block code
    script(type="module" src="/js/admin-auth.js")
