doctype html
html
    head
        title Clients queue
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    body
        h4 Clients queue
        p

        table(class="table table-bordered" style="margin-top:2em;")
            thead(style="text-align:center;")
                tr
                    th(scope="col") Client
                    th(scope="col" style="width:10.5em;") Window
            tbody(id="queue-table-body")
                each c in clientsData
                    tr
                        td #{c.clientName}
                        td #{c.windowName}

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
        script(type="module" src="/js/client-queue-view.js")
