//extends layout
doctype html
html
    head
        title Client registration
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    body
        h4 Registration
        h5 Please enter your name and select service type
        p

        form
            .form-group
                label.col-form-label(for="client-name") Name
                input.form-control(id="client-name" autofocus required)
            .form-group(id="services-list")
                label.col-form-label Service
                    each s in services
                        .form-check
                            input.form-check-input(type="radio" name="service-radios" id="service-"+s.id value=""+s.name)
                            label.form-check-label(for="service-"+s.id) #{s.name}

        p
        div(id="error-msg" class="alert alert-danger invisible") Error
        p
        button(type="button" class="btn btn-primary" id="button-register") Register

        script(src="https://code.jquery.com/jquery-3.4.1.min.js", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
        script(type="module" src="/js/util.js")
        script(type="module" src="/js/client-registration.js")
