extends layout

block content
    h4 Open day
    h6.text-muted Open day is #{day.id}, #{day.day}

    p
    h4 Day services
    ul.list-group(id="services-list")
        for s in services
            li.list-group-item(id="li-" + s.id)
                label
                    if s.in_day === 1
                        input(type="checkbox" autocomplete="off" id="check-"+s.id checked)
                    else
                        input(type="checkbox" autocomplete="off" id="check-"+s.id)
                    |  #{s.name}

    p
    button(type="button" class="btn btn-primary" id="button-save-services") Save

block code
    script(type="module" src="/js/day-edit.js")