extends layout

block content
    .card
        .card-body
            h5.card-title Open day actions
            if isOpen
                h6(class="card-subtitle text-muted") Open day is #{openDay.id}, #{openDay.day}
            else
                h6(class="card-subtitle text-muted") No open day

            p.card-text You can open only current day. You can edit only current open day. Close existent open day to open current.

            if isOpen
                a.card-link(href="#" id="close-day-link") Close
                if isCurrent
                    a.card-link(href="/day-edit?id=" + openDay.id target="_blank") Edit current day
            else
                a.card-link(href="#" id="open-day-link") Open current day

    if days.length
        .container(style="margin-top:3em;")
            .row
                .col
                    h2 Last days
        table(class="table table-bordered" style="margin-top:2em;")
            thead(style="text-align:center;")
                tr
                    th(scope="col") Name
                    th(scope="col" style="width:7.5em;") Actions
            tbody(role="windows-table")
                each d in days
                    tr
                        td(id="row-" + d.id) #{d.day}
                        td(style="text-align:center;")
                            a(href="/day-stats?id=" + d.id target="_blank") Stats

block code
    script(type="module" src="/js/days.js")