doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

body

    ul.nav
        li.nav-item
            a(class="nav-link active" href="/") Home
        if auth.authAdmin
            li.nav-item
                a(class="nav-link active" href="/windows") Windows
            li.nav-item
                a(class="nav-link active" href="/services") Services
            li.nav-item
                a(class="nav-link active" href="/operators") Operators
            li.nav-item
                a(class="nav-link active" href="/days") Days
            li.nav-item
                a(class="nav-link active" href="/client-registration" target="_blank") Client registration
            li.nav-item
                a(class="nav-link active" href="/client-queue-view" target="_blank") Client queue view
        if auth.authOperator
            li.nav-item
                a(class="nav-link active" href="/operator-workplace") Operator's workplace
        if auth.signedOff
            li.nav-item
                .dropdown
                    a(id="signAs" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Sign in
                    .dropdown-menu(aria-labelledby="signAs")
                        a.dropdown-item(href="operator-auth") As operator
                        a.dropdown-item(href="admin-auth") As administrator
        else
            li.nav-item
                a(class="nav-link active" href="/#" id="button-sign-out") Sign out as #{auth.name}

    p

    block content

    script(src="https://code.jquery.com/jquery-3.4.1.min.js", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")

    if !auth.signedOff
        script(type="module" src="/js/sign-out.js")

    script(type="module" src="/js/util.js")

    block code
