extends layout

block content
    .container
        .row
            .col
                h2 Operators
            div(class="col col-1")
                button(id="add-operator" type="button" class="btn btn-primary" data-toggle="tooltip" title="Add new operator")
                    i(class="far fa-plus-square")  Add

    table(class="table table-bordered" style="margin-top:2em;")
        thead(style="text-align:center;")
            tr
                th(scope="col") Name
                th(scope="col" style="width:10.5em;") Actions
        tbody(role="operators-table")
            each s in operators
                tr
                    td(id="row-"+s.id) #{s.name}
                    td
                        button(id="edit-"+s.id type="button" role="edit-operator-button" class="btn btn-success" data-toggle="tooltip" title="Edit "+s.name)
                            i(class="fas fa-edit")
                        button(id="delete-"+s.id type="button" role="delete-operator-button" class="btn btn-danger" style="margin-left:0.5em;" data-toggle="tooltip" title="Delete " + s.name)
                            i(class="far fa-trash-alt")
                        button(id="change-password-" + s.id type="button" role="change-password-button" class="btn btn-warning" style="margin-left:0.5em;" data-toggle="tooltip" title="Change password")
                            i(class="fas fa-key")

    .modal(tabindex="-1" id="delete-dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Delete confirmation
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    p Please confirm operator delete
                    p
                    div(id="delete-error-msg" class="alert alert-danger invisible" role="alert") Error
                .modal-footer
                    button(type="button" id="delete-confirm" class="btn btn-primary") Delete
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel

    .modal(tabindex="-1" id="edit-dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Operator editing
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    .input-group(style="align-items:flex-start;")
                        input.form-control(id="edit-operator-name" type="text" required)
                    p
                    div(id="edit-error-msg" class="alert alert-danger invisible" role="alert") Error
                .modal-footer
                    button(type="button" id="edit-confirm" class="btn btn-primary") Save changes
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel

    .modal(tabindex="-1" id="add-dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Add operator
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    form
                        .form-group
                            label.col-form-label(for="add-operator-name") Name
                            input.form-control(id="add-operator-name" type="text" required)
                        .form-group
                            label.col-form-label(for="add-operator-password") Password
                            input.form-control(id="add-operator-password" type="password" required)
                        .form-group
                            label.col-form-label(for="add-operator-password-copy") Repeat password
                            input.form-control(id="add-operator-password-copy" type="password" required)
                    p
                    div(id="add-error-msg" class="alert alert-danger invisible" role="alert") Error
                .modal-footer
                    button(type="button" id="add-confirm" class="btn btn-primary") Save changes
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel

    .modal(tabindex="-1" id="change-password-dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Change operator's password
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    form
                        .form-group
                            label.col-form-label(for="old-operator-password") Old password
                            input.form-control(id="old-operator-password" type="password" required)
                        .form-group
                            label.col-form-label(for="new-operator-password") New password
                            input.form-control(id="new-operator-password" type="password" required)
                        .form-group
                            label.col-form-label(for="new-operator-password-copy") Repeat new password
                            input.form-control(id="new-operator-password-copy" type="password" required)
                    p
                    div(id="change-password-error-msg" class="alert alert-danger invisible" role="alert") Error
                .modal-footer
                    button(type="button" id="change-password-confirm" class="btn btn-primary") Save changes
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel

block code
    script(type="module" src="/js/operators.js")