extends layout

block content
    .card(style="width: 40rem;")
        .card-body(id="card-common")
            h5.card-title Operator <u>#{operator.name}</u>
            h6(class="card-subtitle mb-2") Window <u>#{operator.window}</u>

            if operator.service
                h6(class="card-subtitle mb-2 text-muted" id="h-service") Service <u id="service-name">#{operator.service}</u>
            else
                h6(class="card-subtitle mb-2 text-muted invisible" id="h-service") Service <u id="service-name">#{operator.service}</u>

            if operator.client
                h6(class="card-subtitle mb-2 text-muted" id="h-client") Client <uid="client-name">#{operator.client}</u>
            else
                h6(class="card-subtitle mb-2 text-muted invisible" id="h-client") Client <u id="client-name">#{operator.client}</u>

            h6(class="card-subtitle mb-2" id="current-state") Current state is <u id="current-state-name">#{operator.state}</u>

            p
            p.card-text(id="card-next-states") Select next state
            each s in nextStates
                a.card-link(href="#" role="a-next-state" id="state-next-" + s.id)= s.name
                p

block code
    script(type="module" src="/js/operator-workplace.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")