extends layout

block content
    if !openDay
        h4 No open day!
        h6 Cannot authorize out of open day
    else
        h4 Please sign in
        h5 Enter our credentials and window
        p

        form
            .form-group
                label.col-form-label(for="operator-name") Name
                input.form-control(id="operator-name" type="text" autofocus required)
            .form-group
                label.col-form-label(for="operator-password") Password
                input.form-control(id="operator-password" type="password" required)
            .form-group
                label.col-form-label(for="select-operator-window") Select working window
                select.custom-select(id="select-operator-window" required)
                    for w in windows
                        option(value=""+w.id) #{w.name}

        p
        h5 Select services
        ul.list-group(id="services-list")
            for s in services
                li.list-group-item
                    label
                        input(type="checkbox" id="check-" + s.id)
                        |  #{s.name}

        p
        div(id="error-msg" class="alert alert-danger invisible") Error
        p
        button(type="button" class="btn btn-primary" id="button-auth") Authorize

block code
    script(type="module" src="/js/operator-auth.js")
