extends layout

block content
    .container
        .row
            .col
                h2 Services
            div(class="col col-1")
                button(id="add-service" type="button" class="btn btn-primary" data-toggle="tooltip" title="Add new service")
                    i(class="far fa-plus-square")  Add

    table(class="table table-bordered" style="margin-top:2em;")
        thead(style="text-align:center;")
            tr
                th(scope="col") Name
                th(scope="col" style="width:7.5em;") Actions
        tbody(role="services-table")
            each s in services
                tr
                    td(id="row-"+s.id) #{s.name}
                    td
                        button(id="edit-"+s.id type="button" role="edit-service-button" class="btn btn-success" data-toggle="tooltip" title="Edit "+s.name)
                            i(class="fas fa-edit")
                        button(id="delete-"+s.id type="button" role="delete-service-button" class="btn btn-danger" style="margin-left:0.5em;" data-toggle="tooltip" title="Delete " + s.name)
                            i(class="far fa-trash-alt")

    .modal(tabindex="-1" id="delete-dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Delete confirmation
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    p Please confirm service delete
                    p
                    div(id="delete-error-msg" class="alert alert-danger invisible" role="alert") Error
                .modal-footer
                    button(type="button" id="delete-save" class="btn btn-primary") Delete
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel

    .modal(tabindex="-1" id="edit-dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Service editing
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    .input-group(style="align-items:flex-start;")
                        input.form-control(id="edit-service-name" type="text" required)
                    p
                    div(id="edit-error-msg" class="alert alert-danger invisible" role="alert") Error
                .modal-footer
                    button(type="button" id="edit-save" class="btn btn-primary") Save changes
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel

    .modal(tabindex="-1" id="add-dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Add service
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    .input-group(style="align-items:flex-start;")
                        input.form-control(id="add-service-name" type="text" required)
                    p
                    div(id="add-error-msg" class="alert alert-danger invisible" role="alert") Error
                .modal-footer
                    button(type="button" id="add-save" class="btn btn-primary") Save changes
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel

block code
    script(type="module" src="/js/services.js")