extends layout

block content
    .container
        .row
            .col
                h2 Service windows
            div(class="col col-1")
                button(id="add-window" type="button" class="btn btn-primary" data-toggle="tooltip" title="Add new window")
                    i(class="far fa-plus-square")  Add

    table(class="table table-bordered" style="margin-top:2em;")
        thead(style="text-align:center;")
            tr
                th(scope="col") Name
                th(scope="col" style="width:7.5em;") Actions
        tbody(role="windows-table")
            each w in windows
                tr
                    td(id="row-"+w.id) #{w.name}
                    td
                        button(id="edit-"+w.id type="button" role="edit-window-button" class="btn btn-success" data-toggle="tooltip" title="Edit "+w.name)
                            i(class="fas fa-edit")
                        button(id="delete-"+w.id type="button" role="delete-window-button" class="btn btn-danger" style="margin-left:0.5em;" data-toggle="tooltip" title="Delete " + w.name)
                            i(class="far fa-trash-alt")

    .modal(tabindex="-1" id="delete-dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Delete confirmation
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    p Please confirm window delete
                    p
                    div(id="delete-error-msg" class="alert alert-danger invisible" role="alert") Error
                .modal-footer
                    button(type="button" id="confirm-delete" class="btn btn-primary") Delete
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel

    .modal(tabindex="-1" id="edit-dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Window editing
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    .input-group(style="align-items:flex-start;")
                        input.form-control(id="edit-window-name" type="text" required)
                    p
                    div(id="edit-error-msg" class="alert alert-danger invisible" role="alert") Error
                .modal-footer
                    button(type="button" id="confirm-edit" class="btn btn-primary") Save changes
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel

    .modal(tabindex="-1" id="add-dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Add window
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    .input-group(style="align-items:flex-start;")
                        input.form-control(id="add-window-name" type="text" required)
                    p
                    div(id="add-error-msg" class="alert alert-danger invisible" role="alert") Error
                .modal-footer
                    button(type="button" id="confirm-add" class="btn btn-primary") Save changes
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel

block code
    script(type="module" src="/js/window.js")